<%- include( 'partials/head', { title: title } ) -%>
  <%- include( 'partials/nav', { appTitle: appTitle, active: '/' } ) -%>
  <main class="container">
    <section>
      <header class="my-3">
        <h1>The Platter App</h1>
      </header>
      <hr>
      <p>
        Welcome to the Platter App! You can find details of restaurants and items on
        their menu. Admin can add restaurants, add items to the menu. A general user can
        vote up/down a restaurant.
      </p>
    </section>
  </main>
<%- include( 'partials/foot' ) -%>